<%- include ("../partials/header") -%>
<div class="container">
    <h1>This is the show template</h1>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card mt-2">
                <img class="card-img-top" src="<%= campground.image %>" alt="">
                <div class="card-title mt-2 mb-0 ml-2">
                    <h4><%= campground.name %></h4>
                </div>
                <p class="card-description ml-2">
                    <%= campground.description %>
                </p>
                <div class="ui left labeled button ml-2 mb-2" tabindex="0">
                    <div class="ui basic right pointing label">
                        <p><%= campground.comments.length %>    <i class="comments icon"></i></p>
                    </div>
                    <a class="ui blue button" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                <% campground.comments.forEach(function(comment) { %>
                <div class="card-description ml-2">
                    <p>
                        <strong><%= comment.author %></strong> - <%= comment.text %>
                    </p>
                </div>
                <%}); %>
            </div>
        </div>
    </div>
</div>
<%- include ("../partials/footer") -%>